<footer class="w-100 bg-darker text-light text-center text-md-left">
    <div class="container-fluid">
        <div class="row py-5">

            <div class="col-md-3 d-none d-md-flex">
                <a href="/">
                    <img src="{{ parameters.storageHost }}/img/v2/logo.svg" alt="Logo"
                         class="img-fluid w-100"
                         style="max-height: 75px">
                </a>
            </div>

            <div class="col-12 col-md-3 mb-4">
                <h5 class="mb-3 font-weight-bold">Ресурси</h5>
                <a href="/privacy"
                   class="text-secondary py-2 d-block">Умови користування</a>

                <a href="{{ parameters.customerHost }}"
                   class="text-secondary py-2 d-block">Для покупців</a>

                <a href="{{ parameters.ownerHost }}"
                   class="text-secondary py-2 d-block">Для власників</a>

                <a href="{{ parameters.staffHost }}"
                   class="text-secondary py-2 d-block">Для співробітників</a>

            </div>
            <div class="col-12 col-md-3 mb-4">
                <h5 class="mb-3 font-weight-bold">Контакти</h5>

                {% if parameters.telegram %}
                    <a href="{{ parameters.telegram }}" rel="nofollow">
                        <i class="fab fa-telegram-plane fa-2x text-secondary p-2"></i>
                    </a>
                {% endif %}

                {% if parameters.messenger %}
                    <a href="{{ parameters.messenger }}" rel="nofollow">
                        <i class="fab fa-facebook-messenger fa-2x text-secondary p-2"></i>
                    </a>
                {% endif %}

                {% if parameters.viber %}
                    <a href="{{ parameters.viber }}" rel="nofollow">
                        <i class="fab fa-viber fa-2x text-secondary p-2"></i>
                    </a>
                {% endif %}

                {% if parameters.email %}
                    <a href="mailto:{{ parameters.email }}" rel="nofollow">
                        <i class="far fa-envelope fa-2x text-secondary p-2"></i>
                    </a>
                {% endif %}

            </div>
            <div class="col-12 col-md-3 mb-4">
                <h5 class="mb-3 font-weight-bold">Соц. мережі</h5>

                {% if parameters.fbLink %}
                    <a href="{{ parameters.fbLink }}"
                       rel="nofollow"
                       class="text-secondary py-2 d-block">Facebook</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-secondary">{{ moment().format('YYYY') }} NextFree Україна. Всі права захищено</p>
            </div>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

<script>
  $(function () {
    var menu = $('#mobile-menu');
    var btn = $('#toggle-mobile-menu');

    btn.on('click', function (e) {
      e.preventDefault();

      menu.toggleClass('sidebar-hidden');
    })

    menu.on('click', function () {
      menu.toggleClass('sidebar-hidden');
    })
  })
</script>