<!doctype html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{ website.meta.title }}{{ parameters.pageprefix }}</title>

    <meta name="description" content="{{ website.meta.description }}">
    <meta name="keywords" content="{{ website.meta.keywords }}">

    <meta name="og:title" content="{{ website.meta.title }}{{ parameters.pageprefix }}">
    <meta name="og:description" content="{{ website.meta.description }}">
    <meta name="og:image" content="{{ company.logo }}">

    {% include './meta.html.twig' %}

</head>
<body class="bg-dark text-light">

{% include './nav.html.twig' %}

<div class="container">

    <div class="row my-5">
        <div class="col-12">
            <h2 class="h6 text-lowercase circle-left mb-3">партнер</h2>

            <h1 class="font-weight-bold">{{ website.title }}</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-2">
            <img src="{% if company.logo %}{{ company.logo }}{% else %}{{ parameters.storageHost }}/img/nextfree-logo.png{% endif %}"
                 alt="{{ company.name }}"
                 id="nav-logo"
                 class="img-fluid mb-4">
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="h1 font-weight-bold mb-4">{{ i18n.t('partner.bio') }}</h2>

            <div class="text-secondary mb-4">
                {{ website.content|safe }}
            </div>

            <h3 class="h5 font-weight-bold mb-4">
                {{ i18n.t('partner.joined') }} {{ moment(company.createdAt).format('MMM YYYY') }}
            </h3>

            <div class="space-b">
                <div class="row">
                    <div class="col-6">
                        {% if website.social.website %}
                            <p class="mb-1 p-1 text-truncate">
                                <a href="{{ website.social.website }}" rel="nofollow" target="_blank">
                                    <i class="fa fa-link text-light-red"></i>&nbsp;{{ website.social.website }}
                                </a>
                            </p>
                        {% endif %}
                        {% if website.social.email %}
                            <p class="mb-1 p-1 text-truncate">
                                <a href="mailto:{{ website.social.email }}" rel="nofollow" target="_blank">
                                    <i class="fa fa-at text-light-red"></i>&nbsp;{{ website.social.email }}
                                </a>
                            </p>
                        {% endif %}
                        {% if website.social.phone %}
                            <p class="mb-1 p-1 text-truncate">
                                <a href="tel:{{ website.social.phone }}" rel="nofollow" target="_blank">
                                    <i class="fa fa-phone text-light-red"></i>&nbsp;{{ website.social.phone }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        {% if website.social.facebook %}
                            <p class="mb-1 p-1 text-truncate">
                                <a href="{{ website.social.facebook }}" rel="nofollow" target="_blank">
                                    <i class="fab fa-facebook-square text-light-red"></i>&nbsp;Facebook
                                </a>
                            </p>
                        {% endif %}
                        {% if website.social.instagram %}
                            <p class="mb-1 p-1 text-truncate">
                                <a href="{{ website.social.instagram }}" rel="nofollow" target="_blank">
                                    <i class="fab fa-instagram text-light-red"></i>&nbsp;Instagram
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if stores|length > 0 %}
                <div class="row space-b">
                    <div class="col-12">
                        <h3 class="font-weight-bold mb-4">{{ stores|length }} {{ i18n.t('partner.shops') }}</h3>
                    </div>
                    {% for store in stores %}
                        <div class="col-12 col-md-6">
                            <a href="{{ store.googleMapsUrl }}"
                               target="_blank"
                               rel="nofollow"
                               class="bg-dark-gray rounded p-2 mb-3 d-block">
                                <p class="font-weight-bold font-2 mb-1">{{ store.city }}</p>
                                <p class="font-2 m-0">{{ store.address }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4">
            {% if bonusCondition != null %}
                <div class="bg-dark-gray rounded p-3 mb-4">
                    <h3 class="text-primary font-weight-bold">{{ bonusCondition.title }}</h3>
                    <p class="text-secondary font-weight-bold">{{ bonusCondition.description }}</p>
                </div>
            {% endif %}
        </div>
    </div>

</div>

{% include './footer.html.twig' %}

</body>
</html>
