<h1>{{ title }}</h1>

<p> Користувач {{ owner.user.lastName }} {{ owner.user.firstName }} запросив Вас приєднатися
    до системи в ролі співробітника компанії "{{ company.name }}".</p>

<p>Для реєстраціїї в системі, будь-ласка, перейдіть за посиланням:</p>

<p>
    <a href="{{ link }}">Мій профіль</a>
</p>
