<!doctype html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Бонусна система NextFree - nextfree.com.ua</title>
    <meta name="robots" content="index, follow"/>

    <meta name="description"
          content="Бонусна система NextFree - система автоматизованого сповіщення продавця про бонусний продаж одиниці товару">
    <meta name="keywords"
          content="Бонусна система для кав'ярні, NextFree, система лояльності для кав'ярні, система обліку для кав'ярні, автоматичне нарахування бонусів, додати кав'ярню на гугл мапу, додати кав'ярню на гугл карту, відгуки про кав'ярню, кав'ярні на мапі, кав'ярні на карті, бонусні візитки для кав'ярні, бонусні картки для кав'ярні, рейтинг кав'ярень, краща кав'ярня, кав'ярня">

    <meta name="og:title" content="Бонусна система NextFree">
    <meta name="og:description"
          content="Бонусна система NextFree - система автоматизованого сповіщення продавця про бонусний продаж одиниці товару">

    <link rel="stylesheet" href="/css/slate/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="/css/style.css?v=1">

    <meta name="application-name" content="NextFree"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png"/>

    {% if parameters.gtm.enabled %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ parameters.gtm.code }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ parameters.gtm.code }}');
        </script>
    {% endif %}
</head>
<body class="body-dark">

<nav class="navbar navbar-expand bg-dark-gray">
    <a class="navbar-brand py-0 border-0" href="/">
        <img src="/img/nextfree-logo-sm.jpg" alt="Logo" class="img-fluid"
             style="max-height: 60px">
    </a>

    <ul class="navbar-nav ml-auto text-center">

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/#partners">Партнери</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/#contacts">Контакти</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-outline-light"
               href="/login">Вхід</a>
        </li>
    </ul>
</nav>

<section>

    <section class="container">

        <div class="row space-y text-center">
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-12 mb-5">
                        <div class="sentence-secondary py-1">ВАША</div>
                        <div class="red-line"></div>
                        <div class="sentence-primary py-2">НАСТУПНА ПОКУПКА</div>
                        <div class="red-line"></div>
                        <div class="sentence-secondary py-1">ЗА БЕЗЦІНОК!</div>
                    </div>
                    <div class="col-12 col-md-6">

                        <a href="https://owner.nextfree.com.ua/register"
                           class="btn btn-lg btn-block btn-light mb-3 mb-md-0">
                            <div>Я власник компанії</div>
                            <div class="text-small">і хочу надавати бонуси за покупки</div>
                        </a>

                    </div>

                    <div class="col-12 col-md-6">

                        <a href="https://customer.nextfree.com.ua/register"
                           class="btn btn-lg btn-block btn-light mb-3 mb-md-0">
                            <div>Я покупець</div>
                            <div class="text-small">і хочу отримувати бонуси за покупки</div>
                        </a>

                    </div>
                </div>
            </div>


        </div>

    </section>

    <section class="container" id="partners">

        <div class="row space-y text-center">
            <div class="col-12 mb-5">
                <h2 class="text-light">Партнери</h2>
                <h3 class="text-light">
                    <span class="text-light-red">{{ totalCompanies }}</span>
                    компаній та
                    <span class="text-light-red">{{ totalStores }}</span>
                    торгових точок!</h3>
            </div>

            <div class="col-12">
                {% if partners|length > 0 %}
                    <div class="row justify-content-center">
                        {% for partner in partners %}
                            <div class="col-6 col-lg-3">
                                <a href="/partners/{{ partner._id }}" class="partner-card text-light">
                                    <img src="{% if partner.logo  %}{{ partner.logo }}{% else %}/img/nextfree-logo.png{% endif %}"
                                         alt="{{ partner.title }}"
                                         class="img-fluid partner-logo rounded mb-3 bg-light">
                                    <h4 class="partner-title">{{ partner.title }}</h4>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h3 class="text-light-red text-center">Парнерів на знайдено. Будьте першим!</h3>
                {% endif %}
            </div>
        </div>

    </section>

    <section class="container" id="contacts">

        <div class="row space-y text-center">
            <div class="col-12 mb-5">
                <h2 class="text-light">Контакти</h2>
                <h3 class="text-light">Виникли запитання або пропозиції?</h3>
            </div>

            <div class="col-10 col-md-6 col-lg-4 mx-auto text-center">

                <a href="mailto:{{ parameters.indexEmail }}" class="btn btn-lg btn-block btn-light">
                    {{ parameters.indexEmail }}
                </a>

            </div>
        </div>

    </section>

</section>

<footer class="w-100 bg-black text-light">
    <div class="container">
        <div class="row py-5">
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Ресурси</h5>
                <ul>
                    <li><a href="/privacy">Умови користування</a></li>
                    <li><a href="/sitemap.xml">Карта сайту</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Контакти</h5>
                <ul>
                    <li><a href="mailto:{{ parameters.indexEmail }}">Зворотній зв'язок</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 text-right d-none d-md-block">
                <a href="/">
                    <img src="/img/nextfree-logo.png" alt="" class="img-fluid"
                         style="max-height: 100px">
                </a>
            </div>
        </div>
        <div class="row text-gray text-center">
            <div class="col-12">
                <div class="red-line"></div>

                <p class="my-3">{{ moment().format('YYYY') }} NextFree Україна. Всі права захищено</p>
            </div>
        </div>
    </div>

</footer>


</body>
</html>
